@use 'src/app/components/App/variables';
@use 'src/app/components/App/mixin';

.user {
  //width: 100%;
  //height: 100% !important;
  //background: white;
  display: flex;
  justify-content: center;

  .card {
    display: flex;
    height: fit-content;
    align-items: center;
  }

  .card-body {
    align-items: center;
  }

  .input, .btn {
    margin-bottom: 1rem;
  }
}
